.button {
	gap: var(--distance-xs);
	font-family: var(--font-family-primary);
	font-size: var(--font-size-xs);
	font-weight: var(--font-weight-medium);
	background-color: var(--color-secondary);
	color: var(--color-primary);

	&:not([disabled]) {
		&:hover {
			&::after {
				box-shadow: none;
			}
		}
	}

	&:hover {
		color: var(--color-quaternary);
	}

	&:focus {
		outline: 2px solid var(--color-secondary);
		outline-offset: var(--distance-xxs);
		box-shadow: none;
	}

	&::after {
		box-shadow: none;
	}
}
