.button {
	gap: var(--distance-xs);
	font-family: var(--font-family-primary);
	font-size: var(--font-size-xs);
	font-weight: var(--font-weight-medium);
	background-color: var(--color-secondary);
	color: var(--color-primary);
	transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;

	&:not([disabled]) {
		&:hover {
			&::after {
				box-shadow: none;
			}
		}
	}

	&:hover {
		color: var(--color-quaternary);
	}

	&:focus {
		outline: 2px solid var(--color-secondary);
		outline-offset: var(--distance-xxs);
		box-shadow: none;
	}

	&::after {
		box-shadow: none;
	}

	&--transparent {
		border: 1px solid var(--color-secondary);
		background-color: transparent;

		&:hover {
			background-color: var(--color-secondary);
			color: var(--color-primary);
		}
	}

	&--white {
		background-color: var(--color-quaternary);

		&:hover {
			background-color: var(--color-tertiary);
			color: var(--color-primary);
		}

		&:focus {
			outline-color: var(--color-quaternary);
		}
	}
}
