.headline {
	display: inline-block;
	margin: 0;
	border: 1px solid var(--color-secondary);
	font-family: var(--font-family-secondary);
	font-weight: var(--font-weight-black);
	text-transform: uppercase;

	&--padding {
		padding: var(--distance-xs);
	}
}
