.product {
	$component: &;

	position: relative;
	margin-bottom: var(--distance-s);
	pointer-events: auto;

	&:hover {
		#{$component}__image {
			transform: scale(1.03);
		}
	}

	&:focus-within {
		#{$component}__image {
			transform: scale(1.03);
		}
	}

	@media #{$mq-tablet} {
		flex: 1;
		margin-bottom: 0;
	}

	&--large {
		@media #{$mq-tablet} {
			flex: 1.5;
		}
	}

	&__image {
		margin-bottom: var(--distance-xxs);
		height: auto;
		transition: transform 0.3s ease-in-out;
	}

	&__name {
		text-transform: uppercase;
		text-decoration: none;
		color: inherit;

		&:hover {
			text-decoration: underline;
		}

		&:focus-visible {
			outline: none;
			box-shadow: none;
		}

		&::after {
			content: "";
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
		}
	}

	&__name, &__price {
		font-family: var(--font-family-secondary);
		font-weight: var(--font-weight-bold);
		color: var(--color-primary);

		@media #{$mq-desktop} {
			font-size: var(--font-size-s);
		}
	}
}
