.product {
	position: relative;
	margin-bottom: var(--distance-s);

	&__name {
		text-decoration: none;
		color: var(--color-primary);

		&::after {
			content: "";
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
		}
	}
}
