.content-wrapper {
	margin: 0 auto;
	padding: 0 var(--distance-m);
	max-width: var(--max-width);

	@media #{$mq-desktop} {
		padding: 0 var(--distance-xxl);
	}
}

.section {
	margin-bottom: var(--distance-m);
	padding-bottom: var(--distance-m);

	@media #{$mq-desktop} {
		margin-bottom: var(--distance-l);
		padding-bottom: var(--distance-l);
	}

	@media #{$mq-desktop-large} {
		margin-bottom: var(--distance-xl);
		padding-bottom: var(--distance-xl);
	}
}

.text {
	margin: 0;
	font-family: var(--font-family-primary);
	font-size: var(--font-size-xs);
}
