{% if section.blocks != blank %}
    <section class="info-row content-wrapper">
        {% for block in section.blocks %}
            <div class="info-row__tile">
                {% if block.settings.iconCredit %}
                    {% render 'icon-creditcard' %}
                    {% elseif block.settings.iconDelivery %}
                    {% render 'icon-delivery' %}
                    {% elseif block.settings.iconReturn %}
                    {% render 'icon-return' %}
                {% endif %}
            </div>
        {% endfor %}
    </section>
{% endif %}

{% schema %}
{
  "name": "Inforeihe",
  "settings": [],
  "max_blocks": 3,
  "blocks": [
    {
      "type": "tile",
      "name": "Kachel",
      "settings": [
        {
          "type": "checkbox",
          "id": "iconCredit",
          "label": "Icon - Kreditkarte",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "iconDelivery",
          "label": "Icon - Versand",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "iconReturn",
          "label": "Icon - Rückgabe",
          "default": false
        },
        {
          "type": "text",
          "id": "headline",
          "label": "Überschrift"
        },
        {
          "type": "text",
          "id": "subline",
          "label": "Unterüberschrift"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Inforeihe",
      "blocks": [
        {
          "type": "tile"
        },
        {
          "type": "tile"
        },
        {
          "type": "tile"
        }
      ]
    }
  ]
}
{% endschema %}
