{% if section.blocks != blank %}
    <section class="info-row content-wrapper section">
        {% for block in section.blocks %}
            <div class="info-row__tile">
                {% if block.settings.iconPayment %}
                    {% render 'icon-payment', className: 'info-row__icon' %}
                {% elsif block.settings.iconDelivery %}
                    {% render 'icon-delivery', className: 'info-row__icon' %}
                {% elsif block.settings.iconReturn %}
                    {% render 'icon-return', className: 'info-row__icon' %}
                {% endif %}
                {% if block.settings.headline %}
                    <h2 class="info-row__headline text">{{ block.settings.headline }}</h2>
                {% endif %}
                {% if block.settings.subline %}
                    <h3 class="info-row__subline text">{{ block.settings.subline }}</h3>
                {% endif %}
            </div>
        {% endfor %}
    </section>
{% endif %}

{% schema %}
{
  "name": "Inforeihe",
  "settings": [],
  "max_blocks": 3,
  "blocks": [
    {
      "type": "tile",
      "name": "Kachel",
      "settings": [
        {
          "type": "checkbox",
          "id": "iconPayment",
          "label": "Icon - Zahlung",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "iconDelivery",
          "label": "Icon - Versand",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "iconReturn",
          "label": "Icon - Rückgabe",
          "default": false
        },
        {
          "type": "text",
          "id": "headline",
          "label": "Überschrift"
        },
        {
          "type": "text",
          "id": "subline",
          "label": "Unterüberschrift"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Inforeihe",
      "blocks": [
        {
          "type": "tile"
        },
        {
          "type": "tile"
        },
        {
          "type": "tile"
        }
      ]
    }
  ]
}
{% endschema %}
